<header>
	<div id='userAccount'>
		<% if (user) { %>
				Logged in as <em><%=user.email%></em>.
			<form method='POST' action='/logout'>
				<button type="submit">Logout</button>
			</form>
		<% } else { %>
			<a href="/login">Login</a>
			<a href="/register">Create a new account</a>
		<% } %>
	</div>
	<div id="name">
		<h1><a href="/urls">TinyApp: <span>URL shortener</span></a></h1>
	</div>
</header>