<header>
	<h1>TinyApp</h1>
	<h2>The URL shortener Gotham deserves</h2>
	<p>
<% if (user) { %>
	<form method='POST' action='/logout'>
		Logged in as <em><%=user.email%></em>
		<button type="submit">Logout</button>
	</form>
<% } else { %>
	<a href="/login">Login</a>
<% } %>
	<a href="/register">Create a new user account</a>
	</p>
</header>