<% include partials/_head %>
	<% include partials/_header %>
	<main>
		<form method='POST' action="/login">
			<input type="email" name="email" placeholder='email@example.com'>
			<input type="password" name="password" placeholder='••••••••'>
			<button type="submit">Log in</button>
		</form>
	</main>
</body>
</html>