<% include partials/_head %>
	<% include partials/_header %>
	<main>
		<form method='POST' action='/register'>
			<label for="email">Create new user:</label>
			<input type="email" name='email' placeholder='email@example.com' autofocus>
			<input type="password" name='password' placeholder='•••••••••'>
			<button type="submit">Create new user</button>
		</form>
	</main>
</body>
</html>